<div class="col">
  <div class="card bg-<%= colors_map.key(employee.department) %> text-white text-center m-3">
    <div class="card-body">
      <%= employee.surnames + ", " + employee.names %>
      <p class="card-title"><p class="font-weight-bold d-inline"><%= employee.job_title %></p>
      , Departamento: <%= employee.department %>
      </p>
      <div class="dropdown-divider"></div>
      <p class="text-center">
      <p class="font-weight-bold d-inline">Salario: </p><%= to_currency(employee.salary) %>
      </p>
    </div>
    <p class="card-footer">
      Télefono de contacto: <%= to_phone(employee.telephone) %> - Email de contacto: <%= employee.email %>
  </div>
</div>
